<template>
<v-app>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        <v-container >
            <v-row
            >  
                <navigation-cards 
                    v-for="card in cards" 
                    :key="card.title"
                    :card="card"
                    justify="center"
                >
                </navigation-cards>
            </v-row>
        </v-container>
    </app-layout>
</v-app>
</template>

<script>
    import NavigationDrawers from '@/Components/NavigationDrawers'
    import AppLayout from '@/Layouts/AppLayout'
    import NavigationCards from '../Components/NavigationCards.vue'

    export default {
        components: {
            AppLayout,
            NavigationDrawers,
            NavigationCards,
        },
        data () {
            return {
                cards: [
                    {
                        title: 'Ordem de Serviço',
                        description: 'Selecione um tipo de equipamento para manutenção, peça a ser utilizada e o responsável para a criação da ordem de serviço.',
                        buttonDescription: 'Gerar',
                        icon: 'mdi-file-document-outline',
                    },
                    {
                        title: 'Inserir Equipamentos',
                        description: 'Adicione equipamentos como computadores e switchs no inventário',
                        buttonDescription: 'Adicionar',
                        icon: 'mdi-desktop-tower-monitor',
                    },
                    {
                        title: 'Inserir Peças',
                        description: 'Adicione peças como cabos, motherboards, ',
                        buttonDescription: 'Adicionar',
                        icon: 'mdi-screw-flat-top',
                    },
                ]
            }
        }
    }
</script>
