<template>
  <v-col cols=4
  >
    <v-card
      max-width="400"
      hover="true"
      class="card"
      min-height="360px"
    >
      <v-icon
        x-large
        color="rgba(41,22,111,1)"
        style="display: flex;"
      >
        {{card.icon}}
      </v-icon>
      <v-card-title 
        primary-title
        class="justify-center"
      >
        <p class="title">
          {{ card.title }}
        </p>
      </v-card-title>

      <v-card-text
      >
        <p class="text-justify"> {{ card.description }}</p>
      </v-card-text>

      <v-card-actions class="justify-center align-end">
        <v-btn
          class="ma-2 pa-4"
          color="rgba(41,22,111,1)"
          outlined
          rounded
        >
        {{ card.buttonDescription }} 
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
  export default {
    props: ['card'],
    data() {
      return {

      }
    }
  }
</script>

<style>
.card {
  padding: 7%;
  transition: all 2s;
}
.card:hover {
  cursor: default;
}
.title {
  color: rgb(41,22,111);
}
.card:hover .title {
  border-bottom: rgb(41,22,111) 2px solid;
  font-weight: 600;
  color: rgb(41,22,111);
}
</style>